#colors(){
    bodyBackground: #333;
    menuBackground: #392a4e;
    borderMenu: solid #aaa 1px;
    white: #dcdcdc;
    darkYellow: rgb(146, 146, 83);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;

    background-color: #colors[bodyBackground];
}

.button{
    font-size: 1rem;
	padding: .5rem;
	cursor: pointer;
}

#game-menu, #initial-menu{
    background-color: #colors[menuBackground];
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: .5rem;

    border: #colors[borderMenu];
  	padding: 2rem;

    img{
        color: #colors[white];
        text-align: center;
        font-size: 1.8rem;
    }
}

#game-buttons-conteiner, #initial-buttons-conteiner{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 100%;

    button{
        background-color: #colors[darkYellow];
        color: #colors[white];
        font-size: 1.5rem;
        padding: 1rem;
    }

    button:hover{
        opacity: .8;
    }
}

.not-active{
    position: absolute;
    z-index: -10;

    opacity: 0;
    visibility: hidden;

    animation-name: closePopUp;
	animation-duration: .2s;
}

.active{
    opacity: 1;
    visibility: visible;

    animation-name: openPopUp;
	animation-duration: .2s;
}

/* Keyframes da animação de abertura/fechamento dos pop-ups */

@keyframes openPopUp{
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes closePopUp{
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

/* ######################################################## */